<nav class="bg-white border-gray-200 dark:border-gray-900 dark:bg-gray-900 border-2 border-b-gray-900 dark:border-b-white">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="https://www.tamarvanyo.com/" target="_blank" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/images/logo.png" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Tamar Vanyó</span>
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            @if(login.isAuth){
            <span class="dark:text-white text-blue-950 mr-6 mt-2"><b> Hola {{ fullname }}</b></span>
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                     focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600
                      dark:hover:bg-blue-700 dark:focus:ring-blue-800" [routerLink]="['/user/info']">
                <i class="fa-regular fa-user"></i>
            </button>
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                        focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600
                        dark:hover:bg-blue-700 dark:focus:ring-blue-800  ml-2" (click)="handlerLogout()">
                    <i class="fas fa-sign-out-alt"></i>
                </button>
            }
            <!-- @if(!login.isAuth){
                <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                     focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600
                      dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="handlerLogout()">{{ 'navbar.btn.iniSessio' | transloco}}</button>
            }-->
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                     focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600
                      dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-2" (click)="switchLanguage()" alt>
                <i class="fas fa-language"></i></button>




            <button (click)="toggleDarkMode()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600
                 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-2">
                <svg *ngIf="isDarkMode" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 3v2m0 14v2m9-9h-2M5 12H3m15.364-7.364l-1.414 1.414M6.636 6.636L5.222 5.222m12.728 12.728l-1.414-1.414M6.636 17.364l-1.414 1.414M12 7a5 5 0 100 10 5 5 0 000-10z">
                    </path>
                </svg>
                <svg *ngIf="!isDarkMode" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 12.79A9 9 0 1111.21 3 7 7 0 1021 12.79z">
                    </path>
                </svg>
            </button>


        </div>
        @if(admin){
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a [routerLink]="['/welcome']" routerLinkActive="active" class="block py-2 px-3 md:p-0 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
                        md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 
                        dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                        {{ 'navbar.inici' | transloco }}
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/users/page/0']" routerLinkActive="active" class="block py-2 px-3 md:p-0 rounded-sm hover:bg-gray-100 md:hover:bg-transparent 
                        md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 
                        dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                        {{ 'navbar.usuaris' | transloco }}
                    </a>
                </li>
                <!--li>
                    <a href="#"
                        class="block py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
                </li>
                <li>
                    <a href="#"
                        class="block py-2 px-3 md:p-0 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                </li-->
            </ul>
        </div>
        }
    </div>
    
</nav>