<div class="m-6">
    <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div class="grid gap-6 mb-6 md:grid-cols-3">
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-blue-950">{{
                    'userform.form.nom' | transloco}}</label>
                <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
             focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500" placeholder="{{ 'userform.form.nom' | transloco}}" name="first_name"
                    [(ngModel)]="user.name" #name="ngModel" required />
            </div>
            <div>
                <label for="lastname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-blue-950">{{
                    'userform.form.primerCognom' | transloco}}</label>
                <input type="text" id="lastname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
             focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500" placeholder="{{ 'userform.form.primerCognom' | transloco}}" name="lastname"
                    [(ngModel)]="user.lastname" #lastname="ngModel" required />
            </div>
            <div>
                <label for="lastname2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-blue-950">{{
                    'userform.form.segonCognom' | transloco}}</label>
                <input type="text" id="lastname2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
             focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500" placeholder="{{ 'userform.form.segonCognom' | transloco}}" name="lastname2"
                    [(ngModel)]="user.lastname2" #lastname2="ngModel" />

            </div>
        </div>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-blue-950">{{
                    'userform.form.correu' | transloco}}</label>
                <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
             focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500" placeholder="{{ 'userform.form.correu' | transloco}}" name="email"
                    [(ngModel)]="user.email" #email="ngModel" required />
            </div>
            <div>
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-blue-950">{{
                    'userform.form.nomUsuari' | transloco}}</label>
                <input type="text" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
             focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500" placeholder="{{ 'userform.form.nomUsuari' | transloco}}" name="username"
                    [(ngModel)]="user.username" #username="ngModel" required />
            </div>
        </div>
        @if(user.admin){
        <div class="grid gap-6 mb-6 md:grid-cols-1">
            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    <input id="admin" id="admin" type="checkbox" checked="{{user.admin}}" [(ngModel)]="user.admin"
                        #username="ngModel" name="admin" class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300
                         dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800" />
                </div>
                <label for="remember" class="ml-3 block mb-2 text-sm font-medium text-gray-900 dark:text-blue-950">{{
                    'userform.form.isAdmin' | transloco}}</label>
            </div>
        </div>
        }
        <div class="flex space-x-4">
            <button data-modal-target="changePass-modal" data-modal-toggle="changePass-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
            focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600
             dark:hover:bg-blue-700 dark:focus:ring-blue-800" id="openModalBtn" type="button"
                (click)="resetFormPass(passForm)">
                {{ 'userform.btn.canviarPass' | transloco}}
            </button>
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg 
            text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                {{ 'userform.btn.actualitzar' | transloco}}</button>
        </div>

    </form>



    <!-- Main modal -->
    <div id="changePass-modal" tabindex="-1" aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                <!-- Modal header -->
                <div
                    class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        {{ 'userform.pass.form.titol' | transloco}}
                    </h3>
                    <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto 
                        inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="changePass-modal" id="closeModalBtn">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5">
                    <form class="space-y-4" action="#" (ngSubmit)="onChangePassword(passForm)" #passForm="ngForm">
                        <!--div>
                          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                          <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required />
                      </div-->
                        <div>
                            <label for="current1"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                                'userform.pass.form.current1' | transloco}}</label>
                            <input type="password" [(ngModel)]="current1" #current1="ngModel" name="current1"
                                id="current1" placeholder="••••••••"
                                class="bg-gray-50 border
                           border-gray-300 text-gray-900 text-sm rounded-lg
                           focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                required />
                        </div>

                        <div>
                            <label for="newPass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                                'userform.pass.form.passNew' | transloco}}</label>
                            <input type="password" name="newPass" [(ngModel)]="newPass" #newPass="ngModel" id="newPass"
                                placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                required />
                        </div>

                        <div>
                            <label for="newPass2"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                                'userform.pass.form.passNew2' | transloco}}</label>
                            <input type="password" name="newPass2" [(ngModel)]="newPass2" #newPass2="ngModel"
                                id="newPass2" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300
                         text-gray-900 text-sm rounded-lg
                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                required />
                            <p *ngIf="passwordsMismatch" class="mt-2 text-sm text-red-600 dark:text-red-500"><span
                                    class="font-medium">
                                    {{ 'userform.pass.error.noMatches' | transloco}}</span></p>
                            <p *ngIf="newPasswordUgly" class="mt-2 text-sm text-red-600 dark:text-red-500"><span
                                    class="font-medium"></span> {{ 'userform.pass.error.newPass' | transloco}}</p>
                            <p *ngIf="errors  && errors.error" class="mt-2 text-sm text-red-600 dark:text-red-500">
                                <span class="font-medium">Error:</span> {{ errors.error }}
                            </p>
                        </div>

                        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400"> {{
                            'userform.pass.form.passRequisits' | transloco}}</p>

                        <button type="submit"
                            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
                      font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{ 'userform.pass.btn.canviar' | transloco}}</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>