<form class="max-w-sm mx-auto" (ngSubmit)="onSubmit()">
  <div class="mb-5">
    <label for="username" [ngClass]="labelClass">{{ 'auth.form.nomUsuari' | transloco}}</label>
    <input id="username" name="username" [ngClass]="inputClass" required [(ngModel)]="user.username" />
  </div>
  <div class="mb-5">
    <label for="password" [ngClass]="labelClass">{{ 'auth.form.contrasenya' | transloco}}</label>
    <input id="password" type="password" name="password" [(ngModel)]="user.password" [ngClass]="inputClass" required />
  </div>
  <div class="flex justify-center">
    <button type="submit" [ngClass]="primaryButtonClass">{{ 'auth.btn.accedir' | transloco}}</button>
  </div>
</form>