<nav *ngIf="paginator.totalPages > 1" aria-label="Page navigation example">
    <ul class="inline-flex -space-x-px text-sm mt-7">
        <li>
            <a href="#" [routerLink]="[url, 0]" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0
                 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700
                  dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><i
                    class="fa-solid fa-backward-fast"></i></a>
        </li>

        <li>
            <a href="#" *ngIf="paginator.number > 0" [routerLink]="[url, paginator.number-1]" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300
                 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700
                  dark:hover:text-white"><i class="fa-solid fa-backward-step"></i></a>
        </li>

        <li>
            <p href="" *ngIf="paginator.number === 0" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300
                     dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"><i class="fa-thin fa-backward-step"></i>
            </p>
        </li>

        <li>
            <a href="#" *ngIf="paginator.number < paginator.totalPages -1" [routerLink]="[url, paginator.number+1]"
                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300
                 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700
                  dark:hover:text-white"><i class="fa-solid fa-forward-step"></i></a>
        </li>
        <li>
            <p href="" *ngIf="paginator.number >= paginator.totalPages -1" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300
                      dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"><i class="fa-thin fa-forward-step"></i>
            </p>
        </li>

        <li>
            <a href="#" [routerLink]="[url, paginator.totalPages - 1]" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 
                rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400
                 dark:hover:bg-gray-700 dark:hover:text-white"><i class="fa-solid fa-forward-fast"></i></a>
        </li>
    </ul>
</nav>